
##### Smart.Framework .htaccess sample for Apache 2.2 / 2.4 :: v.3.7.7 r.2018.10.19 / smart.framework.v.3.7

### Restrict by IP
#order deny,allow
#deny from all
#allow from 127.0.0.1
###

### PHP recommended ini settings for Smart.Framework (sync the below memory_limit with value in etc/init.php ; the value below in memory_limit must be set if expect larger POSTS than default php.ini max memory which are handled before loading the etc/init.php to set memory ...)
php_value default_mimetype				text/html
php_value variables_order				GPCS
php_value request_order					GP
php_flag always_populate_raw_post_data	Off
php_value max_input_vars				1500
php_value max_input_nesting_level		5
php_value max_input_time				60
	#php_value output_buffering			0
php_value output_buffering				4096
php_value memory_limit 					256M
php_value post_max_size					108M
php_value upload_max_filesize			102M
php_flag session.auto_start				Off
php_value session.use_trans_sid			0
php_flag mail.add_x_header				Off
php_flag zend.enable_gc					On
php_flag zend.multibyte					Off
###

### Cross Origin Access for some resources (uncomment this for use with multiple sub-domains for cross domain requests)
#<FilesMatch "\.(woff|ttf|svg|gif|png|jpg|jpeg)$">
#	Header set Access-Control-Allow-Origin "*"
#</FilesMatch>
###

### Rewrite :: For the most basic rewrite version, just uncomment the lines below that start with a single #
#<IfModule mod_rewrite.c>

	###
#	RewriteEngine 		On
	###

	### Maintenance 503 (Mod Rewrite)
	##ErrorDocument 503 "<h1>Under Maintenance</h1>"
	###ErrorDocument 503 /maintenance.html
	###ErrorDocument 503 /index.php?page=samples.503
	##RewriteCond %{REMOTE_ADDR} !=127.0.0.1
	##RewriteCond %{ENV:REDIRECT_STATUS} !=503
	##RewriteRule .* - [R=503,L]
	###

	### Security Fixes
#	RewriteRule ^etc/config\.php$ - [F,L]
#	RewriteRule ^etc/config-index\.php$ - [F,L]
#	RewriteRule ^etc/config-admin\.php$ - [F,L]
#	RewriteRule ^etc/init\.php$ - [F,L]
	###

	### sample: smart-framework/module.controller.html|.stml|.json [ compatible with Smart::url_make_semantic() + Rewrite ]
	##RewriteCond 		%{QUERY_STRING} !^\/
#	RewriteCond 		%{REQUEST_FILENAME} !-f
#	RewriteCond 		%{REQUEST_FILENAME} !-d
#	RewriteRule 		^(.*)\.(html|stml|json)$ 		index.php?page=$1 [QSA,L]
	###

	### sample: alternate URLs to use in combination with sub-domains (This is only for very very advanced use of URL Rewrites ... !!!)
	##RewriteCond 		%{HTTP_HOST} ^([0-9a-z\-]*)\.
	##### module.smart-framework/controller
	##RewriteRule 		^(.*)?/?$ 						index.php?page=$1.%1 [QSA,L]
	##### module.smart-framework/controller
	##RewriteRule 		^(.*)?/?$ 						index.php?page=%1.$1 [QSA,L]
	##### controller.smart-framework/module(.html|.stml|.json)
	##RewriteRule 		^(.*)\.(html|stml|json)$ 		index.php?page=$1.%1 [QSA,L]
	##### module.smart-framework/controller(.html|.stml|.json)
	##RewriteRule 		^(.*)\.(html|stml|json)$ 		index.php?page=%1.$1 [QSA,L]
	###

	### sample: custom 404 error page with fallback
	##RewriteCond 		%{REQUEST_FILENAME} !-f
	##RewriteCond 		%{REQUEST_FILENAME} !-d
	##RewriteRule 		^(.*)\.(.*)$ 					index.php?page=$1 [QSA,L]
	##ErrorDocument 404 								index.php?page=samples.404
	###

#</IfModule>
##<IfModule !mod_rewrite.c>
##	ErrorDocument 404 "Path not found ... Mod Rewrite is missing ..."
##</IfModule>

###

##### END
