
##### Smart.Framework .htaccess sample for Apache 2.2 / 2.4 :: v.3.5.7 r.2017.09.05 / smart.framework.v.3.5

### Restrict by IP
#order deny,allow
#deny from all
#allow from 127.0.0.1
###

### PHP recommended ini settings for Smart.Framework
php_value default_mimetype				text/html
php_value variables_order				GPCS
php_value request_order					GP
php_flag always_populate_raw_post_data	Off
php_value max_input_vars				1500
php_value max_input_nesting_level		5
php_value max_input_time				60
php_value output_buffering				0
	#php_value output_buffering			4096
php_value post_max_size					108M
php_value upload_max_filesize			102M
php_flag session.auto_start				Off
php_value session.use_trans_sid			0
php_flag mail.add_x_header				Off
php_flag zend.enable_gc					On
php_flag zend.multibyte					Off
###

### Cross Origin Access for some resources
#<FilesMatch "\.(woff|ttf|svg|gif|png|jpg|jpeg)$">
#	Header set Access-Control-Allow-Origin "*"
#</FilesMatch>
###

### Rewrite :: For the most basic rewrite version, just uncomment the 4 lines that start with the # as first character.
#<IfModule mod_rewrite.c>

	###
#	RewriteEngine 		On
	###

	### sample: smart-framework/module.controller.html|.stml|.json [ compatible with Smart::url_make_semantic() + Rewrite ]
	##RewriteCond 		%{QUERY_STRING} !^\/
#	RewriteCond 		%{REQUEST_FILENAME} !-f
#	RewriteCond 		%{REQUEST_FILENAME} !-d
#	RewriteRule 		^(.*)\.(html|stml|json)$ 		index.php?page=$1 [QSA,L]
	###

	### sample: alternate URLs to use in combination with sub-domains (This is only for very very advanced use of URL Rewrites ... !!!)
	##RewriteCond 		%{HTTP_HOST} ^([0-9a-z\-]*)\.
	##### module.smart-framework/controller
	##RewriteRule 		^(.*)?/?$ 						index.php?page=$1.%1 [QSA,L]
	##### module.smart-framework/controller
	##RewriteRule 		^(.*)?/?$ 						index.php?page=%1.$1 [QSA,L]
	##### controller.smart-framework/module(.html|.stml|.json)
	##RewriteRule 		^(.*)\.(html|stml|json)$ 		index.php?page=$1.%1 [QSA,L]
	##### module.smart-framework/controller(.html|.stml|.json)
	##RewriteRule 		^(.*)\.(html|stml|json)$ 		index.php?page=%1.$1 [QSA,L]
	###

#</IfModule>

#<IfModule !mod_rewrite.c>
#	ErrorDocument 404 /
#</IfModule>

###

##### END
