<!-- JS-SETTINGS :: r.170327 -->
<script type="text/javascript">
	if(Test_Browser_Compliance.checkIsMobileDevice()) { // force popup instead of modal for mobile devices
		SmartJS_BrowserUtils_Use_iFModalBox_Active = 0;
	} else { // for desktop keep modal with cascading control
		SmartJS_BrowserUtils_Use_iFModalBox_Active = 1;
		SmartJS_BrowserUtils.Control_ModalCascading();
	}
	[%%%%IF:APP-REALM:==ADM;%%%%]
	SmartJS_BrowserUtils_Use_iFModalBox_Protection = 1; // use modal protection for admin area
	[%%%%ELSE:APP-REALM%%%%]
	// use defaults (un-protected modal) for index area
	[%%%%/IF:APP-REALM%%%%]
</script>
<!-- # -->