<!-- JS-UI / LightJS :: r.170426 -->
<!-- UI Dialog --><link rel="stylesheet" type="text/css" href="lib/js/jquery/dialog/simple-dialog.css"><script type="text/javascript" src="lib/js/jquery/dialog/simple-dialog.js"></script>
<!-- UI Tabs --><link rel="stylesheet" href="lib/js/jquery/tabs/jquery.tabs.css" type="text/css"><script src="lib/js/jquery/tabs/jquery.tabs.js" type="text/javascript"></script>
<!-- UI Date Picker --><link rel="stylesheet" type="text/css" href="lib/js/jquery/datepicker/css/bootstrap.css"><script type="text/javascript" src="lib/js/jquery/datepicker/jquery-zdatepicker.js"></script>
<!-- UI Time Picker --><link rel="stylesheet" href="lib/js/jquery/timepicker/css/jquery.timepicker.css" type="text/css"><script type="text/javascript" src="lib/js/jquery/timepicker/jquery.timepicker.js"></script>
<!-- UI Single and Multi Select List --><link rel="stylesheet" type="text/css" href="lib/js/jquery/listselect/css/chosen.css"><script type="text/javascript" src="lib/js/jquery/listselect/chosen.jquery.js"></script>
<!-- UI AutoComplete --><link rel="stylesheet" type="text/css" href="lib/js/jquery/autosuggest/smart-suggest.css"><script type="text/javascript" src="lib/js/jquery/autosuggest/smart-suggest.js"></script>
<!-- UI Framework Bindings --><script type="text/javascript" src="lib/js/jquery/jquery.smartframework.ui.js?[####RELEASE-HASH|html####]"></script>
<!-- # -->