<!-- partial sub-template: partial-sub-template-loader.inc.htm :: r.170426 -->
<script type="text/javascript">
jQuery('#page-loader').css({
	position: 'fixed',
	left: '0px',
	top: '0px',
	width: '100%',
	height: '100%',
	background: "url('lib/framework/img/loading-spinning-bubbles.svg') 50% 50% no-repeat rgb(249,249,249)",
	'z-index': 2147483001,
});
</script>
<script type="text/javascript">
$(function(){
	setTimeout(function(){ $('#page-loader').fadeOut('slow') }, 250);
});
</script>
<!-- #END# partial -->