
/* ------------------------------------------------ CSS3, Base Styles START :: r.20190103 */

/* IMPORTANT: !! FOR A VERY CLEAR READABILITY OF PAGE FONTS !!
 * except the main body and main elements sizes (sized in pixels),
 * if relative font sizes are needed, they are recommended to be expressed using HTML5 'rem' (relative to root size)
 * instead of the old 'em' (relative to parent size)
 */

* {
	font-smooth: always;
	/* font-size-adjust: 0.55; */
}

html, body{
	width: 96% auto;
	/*height: 96% auto;*/
	margin: 1px;
	padding: 0px;
}

body {
	background: #FFFFFF;
}

body, div, p, ol, ul, table, form, fieldset, pre, code, blockquote, address, dl {
	font-size: 15px;
	line-height: 1.5;
}

li {
	list-style-position: inside; /* bugfix for chrome */
}

h1 {
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	font-size: 28px;
	margin-top: 8px;
	margin-bottom: 8px;
}
h3 {
	font-size: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
}
h4 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
h5 {
	font-size: 18px;
	margin-top: 4px;
	margin-bottom: 4px;
}
h6 {
	font-size: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}

img {
	border: 0px;
}
img#shaddow {
	border: 0px;
	box-shadow: 2px 2px 3px #BBB; /* Opera and other CSS3 supporting browsers */
}

hr {
	border: none 0;
	border-top: 1px solid #CCCCCC;
	height: 1px;
}

/* ----- tables ----- */
table {
	font-weight: normal;
	text-align:left;
}
th {
	font-weight: bold;
}
td {
	font-weight: normal;
}

/* ----- links ----- */
a, a:link, a:visited, a:hover {
	color: #000000;
}

/* ----- forms ----- */

input[type="text"]:disabled {
	background-color: #FFFFFF;
}
/***
label {
	font-size: 0.9rem;
	font-weight: normal;
}
textarea {
	font-size: 0.9rem;
	background-color: #FEFEFE;
	color: #000000;
	border: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}
select {
	font-size: 0.9rem;
	background-color: #FEFEFE;
	color: #666666;
	border: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}
input {
	font-size: 0.9rem;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}
input[type=submit], input[type=button] {
	font-size: 0.9rem;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #778899;
	border: 1px;
	border-style: outset;
	border-color: #333333;
	cursor: pointer;
}
input:invalid+span:after {
	content: '✖';
	padding-left: 5px;
}
input:valid+span:after {
	content: '✓';
	padding-left: 5px;
}
***/

/* ----- box sizings ----- */
/***
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
***/

/* ------------------------------------------------ Base Styles END */
