<!DOCTYPE html>
<!-- [####TEMPLATE-FILE####] -->
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- App Domain is: [####APP-DOMAIN####] -->
<!-- Base URL is: [####BASE-URL####] -->
<!-- Base Path is: [####BASE-PATH####] -->
<title>[####TITLE####]</title>
[####HEAD-META####]
[####CSS.BASE####]
<link rel="stylesheet" type="text/css" href="[####TEMPLATE-PATH####]styles.css">
[####JS.BASE####]
[####JS.UI####]
[####JS.SETTINGS####]
</head>
<body>
[@@@@SUB-TEMPLATE:partial-template-loader.inc.htm@@@@]
<div align="center">
<table border="0" cellspacing="0" cellpadding="0" width="99%">
	<tr>
		<td align="left">[####MAIN####]</td>
	</tr>
</table>
</div>
</body>
</html>
