<!-- r.170426 -->
<!-- :: TPL MISC. VARIABLES :: -->
<!-- Release-Hash:    [####RELEASE-HASH|html####] -->
<!-- Template Path:   [####TEMPLATE-PATH|html####] -->
<!-- Template File:   [####TEMPLATE-FILE|html####] -->
<!-- (Set) Language:  [####LANG|html####] -->
<!-- App Realm:       [####APP-REALM|html####] -->
<!-- App Domain:      [####APP-DOMAIN|html####] -->
<!-- Client-Browser:  [####CLIENT-BROWSER|html####] -->
<!-- Client-OS:       [####CLIENT-OS|html####] -->
<!-- Base URL:        [####BASE-URL|html####] -->
<!-- Base Path:       [####BASE-PATH|html####] -->
<!-- Base-Domain:     [####BASE-DOMAIN|html####] -->
<!-- Srv Domain:      [####SRV-DOMAIN|html####] -->
<!-- Srv Proto:       [####SRV-PROTO|html####] -->
<!-- Srv Port:        [####SRV-PORT|html####] -->
<!-- Srv Script:      [####SRV-SCRIPT|html####] -->
<!-- Srv UrlQuery:    [####SRV-URLQUERY|html####] -->
<!-- Srv ReqUri:      [####SRV-REQURI|html####] -->
<!-- Debug Mode:      [####DEBUG-MODE|html####] -->
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[####TITLE|html####]</title>
<!-- Meta -->
[####HEAD-META####]
<!-- Styles -->
[@@@@SUB-TEMPLATE:css-app.inc.htm@@@@]
<link rel="stylesheet" type="text/css" href="[####TEMPLATE-PATH|html####]styles.css">
[####HEAD-CSS####]
<!-- Scripts -->
[@@@@SUB-TEMPLATE:js-base.inc.htm@@@@]
[%%%%IF:APP-REALM:==IDX;%%%%]
	[@@@@SUB-TEMPLATE:js-ui.inc.htm@@@@]
[%%%%ELSE:APP-REALM%%%%]
	[%%%%IF:SEMAPHORE:!=jqueryui;%%%%]
		[@@@@SUB-TEMPLATE:js-ui.inc.htm@@@@]
	[%%%%ELSE:SEMAPHORE%%%%]
		<!-- Load jQueryUI if detected: [####SEMAPHORE|html####] -->
		[@@@@SUB-TEMPLATE:?!modules/mod-ui-jqueryui/views/js-ui.inc.htm!@@@@]
	[%%%%/IF:SEMAPHORE%%%%]
	<script type="text/javascript" src="lib/js/jquery/jquery.idle.js"></script>
[%%%%/IF:APP-REALM%%%%]
[@@@@SUB-TEMPLATE:js-settings.inc.htm@@@@]
[####HEAD-JS####]
<!-- #.# -->