<!-- r.20190223 -->
<!-- Template Path: [####TEMPLATE-PATH|html####] -->
<!-- Template File: [####TEMPLATE-FILE|html####] -->
<!-- Timezone:      [####TIMEZONE|html####] -->
<!-- Language:      [####LANG|html####] -->
<meta charset="[####CHARSET|html####]">
<meta http-equiv="Content-Type" content="text/html; charset=[####CHARSET|html####]">
<title>[####TITLE|html####]</title>
<!-- Meta -->
[####HEAD-META####]
<!-- Styles -->
[@@@@SUB-TEMPLATE:!etc/templates/default/css-app.inc.htm!@@@@]
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles.css?[####RELEASE-HASH|url|html####]">
[####HEAD-CSS####]
<!-- Scripts -->
[@@@@SUB-TEMPLATE:!etc/templates/default/js-base.inc.htm!@@@@]
[@@@@SUB-TEMPLATE:!etc/templates/default/js-ui.inc.htm!@@@@]
[@@@@SUB-TEMPLATE:!etc/templates/default/js-settings.inc.htm!@@@@]
[####HEAD-JS####]
<!-- #.# -->