[%%%%COMMENT%%%%]
	!!! This is a comment, it must not be shown ... !!!
[%%%%/COMMENT%%%%][%%%%COMMENT%%%%]Another Comment[%%%%/COMMENT%%%%]<!-- comments removed -->
<h1>[####TITLE####]</h1>
[%%%%COMMENT%%%%]
	!!! This is another comment, it must not be shown ... !!!
[%%%%/COMMENT%%%%]
<!-- Test BOOL ([####TEST-NUM|html####]) : [####TEST-NUM|bool####] -->
<!-- Test NUMERIC ([####TEST-NUM|html####]) : [####TEST-NUM|num####] -->
<!-- Test HTML-ID ([####TEST-STR|html####]) : [####TEST-STR|htmid####] -->
<!-- Test JS-VAR ([####TEST-STR|html####]) : [####TEST-STR|jsvar####] -->
<!-- Test JSON ([####TEST-STR|html####]) : [####TEST-STR|json####] -->
<!-- Test URL ([####TEST-URL|html####][####TEST-STR|html####]) : [####TEST-URL|html####][####TEST-STR|url|html####] -->
<!-- Test JS ([####TEST-STR|html####]) : '[####TEST-STR|js####]' -->
<!-- Test NL2BR ([####TEST-TXT|html####]) : [####TEST-TXT|html|nl2br####] -->
<!-- Test SUBSTR10 ([####TEST-UNISTR####]) : [####TEST-UNISTR|substr10####] -->
<!-- Test SUBTXT13 w. space after 10 ([####TEST-UNISTR####]) : [####TEST-UNISTR|subtxt13####] -->
<hr>
<div>
	<b>Switch Eval for Status = [####STATUS####]</b>
	<div>
		[%%%%IF:STATUS:==####TEST-COMPARE####%%%%]
			<span style="color:#003399">is equal with TEST-COMPARE [a]</span>
		[%%%%ELSE:STATUS%%%%]
			<span style="color:#FF3300">is NOT equal with TEST-COMPARE [a]</span>
		[%%%%/IF:STATUS%%%%]
	</div>
	<div>
		[%%%%IF:STATUS:@=a|b|c%%%%]
			<span style="color:#003399">IN [A | B | C]</span>
		[%%%%ELSE:STATUS%%%%]
			<span style="color:#FF3300">NOT IN [ A | B | C ]</span>
		[%%%%/IF:STATUS%%%%]
	</div>
	<b>Inverted Switch Eval for Status = [####STATUS####]</b>
	<div>
		[%%%%IF:STATUS:@!a|b|c%%%%]
			<span style="color:#FF3300">NOT IN [ A | B | C ]</span>
		[%%%%ELSE:STATUS%%%%]
			<span style="color:#003399">IN [A | B | C]</span>
		[%%%%/IF:STATUS%%%%]
	</div>
</div>
<hr>
[%%%%IF:TEST1:<=3%%%%]
	[%%%%IF:TEST2:==3(1)%%%%]
		[%%%%IF:TEST3:==3%%%%]
			This is displayed when TEST2 is = 3<br>
		[%%%%/IF:TEST3%%%%]
	[%%%%ELSE:TEST2(1)%%%%]
		This is displayed when TEST2 is != 3 (ELSE)<br>
	[%%%%/IF:TEST2(1)%%%%]
[%%%%/IF:TEST1%%%%]
[%%%%IF:TEST2:==3(2)%%%%]
	This also appears when TEST2 is 3<br>
[%%%%/IF:TEST2(2)%%%%]
<hr>
[%%%%IF:DATA:@+0(1)%%%%]
<!-- Count of DATA is > 0 -->
[%%%%ELSE:DATA(1)%%%%]
<!-- Count of DATA is < 0 -->
[%%%%/IF:DATA(1)%%%%]
[%%%%IF:DATA:@-100000(2)%%%%]
<!-- Count of DATA is < 100000 -->
[%%%%ELSE:DATA(2)%%%%]
<!-- Count of DATA is > 100000 -->
[%%%%/IF:DATA(2)%%%%]
<table width="550" cellpadding="4">
[%%%%LOOP:DATA(1)%%%%]
[%%%%IF:TEST2:==3%%%%]
	<!-- Max Data Count: [####DATA._-MAXCOUNT-_|html####] -->
	[%%%%IF:DATA._-ITERATOR-_:<=0(1)%%%%]
		<tr style="background:#003399;color:#FFFFFF;">
			<td colspan="5"><b>[####DATA._-VAL-_|html####]</b></td>
		</tr>
	[%%%%ELSE:DATA._-ITERATOR-_(1)%%%%]
		[%%%%IF:DATA._-ITERATOR-_:%2(2)%%%%]
		<tr style="background:#ECECEC;">
		[%%%%ELSE:DATA._-ITERATOR-_(2)%%%%]
		<tr style="background:#FFCC00;">
		[%%%%/IF:DATA._-ITERATOR-_(2)%%%%]
			<td>[####DATA.ID|html####]</td>
			<td>[####DATA.SLUG|html####]</td>
			<td>[####DATA.NAME|html####]</td>
			[%%%%IF:DATA.IS_VOWEL:==1%%%%]
				[%%%%IF:DATA.SLUG:==####TEST-COMPARE####%%%%]
				<td>First*** Vowel: [[####DATA.IS_VOWEL|html####]]</td>
				[%%%%ELSE:DATA.SLUG%%%%]
				<td>Vowel: [[####DATA.IS_VOWEL|html####]]</td>
				[%%%%/IF:DATA.SLUG%%%%]
			[%%%%ELSE:DATA.IS_VOWEL%%%%]
				<td>Consonant: [[####DATA.IS_VOWEL|html####]]</td>
			[%%%%/IF:DATA.IS_VOWEL%%%%]
			<td>[%%%%LOOP:DATA.ARR%%%%]<span>[####DATA.ARR._-VAL-_|html####]; </span>[%%%%/LOOP:DATA.ARR%%%%]</td>
		</tr>
		[%%%%IF:DATA.ID:%2%%%%]
		<!-- Data ID is % 2 -->
		[%%%%/IF:DATA.ID%%%%]
	[%%%%/IF:DATA._-ITERATOR-_(1)%%%%]
[%%%%ELSE:TEST2%%%%]
	[%%%%IF:DATA._-ITERATOR-_:<=0(3)%%%%]
	<tr><td style="background:#FF3300;color:#FFFFFF;"><b>Test 2 is not 3, not showing real data ...</b></td></tr>
	[%%%%/IF:DATA._-ITERATOR-_(3)%%%%]
[%%%%/IF:TEST2%%%%]
[%%%%/LOOP:DATA(1)%%%%]
</table>
<hr>
<table width="550" cellpadding="4">
[%%%%LOOP:DAT2%%%%]
	<!-- Max Data2 Count: [####DAT2._-MAXCOUNT-_|html####] -->
	[%%%%IF:DAT2._-KEY-_:!=key1%%%%]
		[%%%%IF:DAT2._-ITERATOR-_:%2%%%%]
		<tr style="background:#FFFFFF;">
		[%%%%ELSE:DAT2._-ITERATOR-_%%%%]
		<tr style="background:#DDEEFF;">
		[%%%%/IF:DAT2._-ITERATOR-_%%%%]
		<td>[####DAT2._-KEY-_|html####]</td>
		<td>[####DAT2._-VAL-_|html####]</td>
	</tr>
	[%%%%ELSE:DAT2._-KEY-_%%%%]
	<tr style="background:#FFFFCC;">
		<td>[####DAT2._-KEY-_|html####]</td>
		<td>
			[%%%%LOOP:DAT2.KEY1%%%%]<span style="[%%%%IF:DAT2.KEY1.ID:==val1%%%%]font-weight:bold;[%%%%ELSE:DAT2.KEY1.ID%%%%][%%%%/IF:DAT2.KEY1.ID%%%%]">[####DAT2.KEY1._-KEY-_|html####] =&gt; [####DAT2.KEY1._-VAL-_|html####]; </span>[%%%%/LOOP:DAT2.KEY1%%%%]<hr>
		</td>
	</tr>
	[%%%%/IF:DAT2._-KEY-_%%%%]
[%%%%/LOOP:DAT2%%%%]
</table>
<!-- Special Characters Syntax: SPACE \t \r\n -->
[%%%%|SPACE%%%%][%%%%|T%%%%][%%%%|R%%%%][%%%%|N%%%%]
<!-- #END Special Characters Syntax -->
<hr>
<br>
<br>