<!-- start marker-tpl template v.181127 -->
[%%%%COMMENT%%%%] Template: templating-test.mtpl.htm [%%%%/COMMENT%%%%]<!-- comments are removed -->
<div align="center">
	<br>
	<div>
		<img src="lib/framework/img/sf-logo.svg" width="160" height="160">
		<br>
		[%%%%IF:VERSION:!=;%%%%]<span style="color:#778899;"><b><i>Marker-TPL</i></b> <i>Templating</i> Engine [####VERSION|html####]</span>[%%%%/IF:VERSION%%%%]
	</div>
	[####HELLO####]
	<div>
		<a href="?/page/samples.templating-test" class="ux-button ux-button-small ux-button-info"><i class="fa fa-refresh"></i> &nbsp; Reload TPL Render Test</a>
		&nbsp;&nbsp;
		<a href="?/page/samples.templating-test/op/viewsource" target="tpl_m_view_source" data-smart="open.modal" class="ux-button ux-button-small ux-button-primary"><i class="fa fa-code"></i> &nbsp; View TPL Source</a>
		&nbsp;&nbsp;
		<a href="?/page/samples.templating-test/op/viewpartialsource" target="tpl_m_view_source" data-smart="open.modal" class="ux-button ux-button-small ux-button-secondary"><i class="fa fa-code"></i> &nbsp; View Sub-TPL Source</a>
	</div>
	<br>
	[@@@@SUB-TEMPLATE:templating-test.inc.htm@@@@]
	<ul>
	[%%%%LOOP:NAVIGATION%%%%]
		<li><a href="[####NAVIGATION.HREF|html####]">[####NAVIGATION.CAPTION|html####]</a></li>
	[%%%%/LOOP:NAVIGATION%%%%]
	</ul>
	Test Condition#1:
	[%%%%IF:A:==Test-1;%%%%]
		<b>OK</b>
	[%%%%ELSE:A%%%%]
		<span style="color:#FF3300;"><b>NOT OK</b></span>
	[%%%%/IF:A%%%%]
	<br>
	Test Condition#2:
	[%%%%IF:B:==####A####;%%%%]
		<span style="color:#FF3300;"><b>NOT OK</b></span>
	[%%%%ELSE:B%%%%]
		<b>OK</b>
	[%%%%/IF:B%%%%]
</div>
<!-- end marker-tpl template -->
<div align="center">
	<br>
	<br>
	<br>
	<br>
	<br>
	<a href="?page=samples.templating-test-extended" class="ux-button ux-button-small"><i class="fa fa-link"></i> &nbsp; Load TPL Extended Render Test</a>
</div>