<!-- start markers-tpl template v.20190103 -->
[%%%%COMMENT%%%%] Template: templating-test.mtpl.htm [%%%%/COMMENT%%%%]<!-- comments are removed -->
<div align="center">
	<div>
		<img src="lib/framework/img/sf-logo.svg" width="160" height="160">
		<br>
		[%%%%IF:VERSION:!=;%%%%]<span style="color:#778899;"><b><i>Markers-TPL</i></b> <i>Templating</i> Engine [####VERSION|html####]</span>[%%%%/IF:VERSION%%%%]
	</div>
	[####HELLO__WORLD####]
	<div>
		<a href="?/page/samples.templating-test" class="ux-button ux-button-small ux-button-info"><i class="sfi sfi-loop2"></i> &nbsp; Reload TPL Render Test</a>
		&nbsp;&nbsp;
		<a href="?/page/samples.templating-test/op/viewsource" target="tpl_m_view_source" data-smart="open.modal" class="ux-button ux-button-small ux-button-primary"><i class="sfi sfi-embed"></i> &nbsp; View TPL Source</a>
		&nbsp;&nbsp;
		<a href="?/page/samples.templating-test/op/viewpartialsource" target="tpl_m_view_source" data-smart="open.modal" class="ux-button ux-button-small ux-button-secondary"><i class="sfi sfi-embed2"></i> &nbsp; View Sub-TPL Source</a>
	</div>
	<br>
	<div style="color:#777777;">[####DATE-TIME|html####]</div>
	[@@@@SUB-TEMPLATE:templating-test.inc.htm@@@@]
</div>
<!-- end markers-tpl template -->
